.c {
    width: 10px;
    position: relative;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 15px;
    flex-shrink: 0;
}
.cParent {
    border-radius: var(--br-5xs);
    border: 0.3px solid var(--color-lightslategray);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-9xs);
    text-align: left;
    font-size: 12px;
    color: var(--color-gray);
    font-family: var(--font-poppins);
}
