.cileducationIcon {
  width: 18px;
  position: relative;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.bulacanStateUniversity {
  width: 149px;
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.bachelorOfScience {
  width: 238.5px;
  position: relative;
  color: var(--color-dimgray);
  display: inline-block;
}
.bulacanStateUniversityScParent,
.cileducationParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cileducationParent {
  position: absolute;
  top: -1px;
  left: 0;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-7xs);
}
.educationSchool {
  width: 265.4px;
  height: 29px;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-gray);
  font-family: var(--font-poppins);
}
