.componentChild {
  position: absolute;
  height: 100%;
  width: 39.39%;
  top: 0;
  right: 60.61%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-4xs);
  background-color: var(--color-gainsboro);
}
.labelText {
  position: relative;
  font-weight: 500;
}
.skillLabel {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  border: 0.3px solid var(--color-lightslategray);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
}
.rectangleParent {
  width: 66px;
  height: 15px;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-gray);
  font-family: var(--font-poppins);
}
