.labelText {
  position: relative;
  font-weight: 500;
}
.skillLabel,
.skillLabelParent {
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.skillLabel {
  border: 0.3px solid var(--color-lightslategray);
  padding: 0 var(--padding-9xs);
}
.skillLabelParent {
  background-color: var(--color-gainsboro);
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-gray);
  font-family: var(--font-poppins);
}
