.materialSymbolscallOutlineIcon {
  width: 14px;
  position: relative;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
}
.tnt {
  position: relative;
  white-space: pre-wrap;
}
.materialSymbolscallOutlineParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0;
  gap: var(--gap-4xs);
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-dimgray);
  font-family: var(--font-poppins);
}
