.skillsToolsChild {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(228, 230, 235, 0.25);
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 211px;
  height: 476px;
}
.backgroundIndicators {
  position: absolute;
  top: 43px;
  left: 18px;
  display: inline-block;
  width: 114px;
  height: 15.1px;
}
.beRelated,
.coderRelated,
.designerRelated,
.feRelated {
  position: absolute;
  top: 134.6px;
  left: 19px;
  display: inline-block;
  width: 49px;
  height: 15.1px;
}
.beRelated,
.coderRelated,
.designerRelated {
  top: 181.8px;
  left: 18px;
  width: 50px;
}
.coderRelated,
.designerRelated {
  top: 275.2px;
  width: 70px;
}
.designerRelated {
  top: 322.4px;
  width: 83px;
}
.languages,
.others,
.toolsSoftware {
  position: absolute;
  top: 114.6px;
  left: 19px;
  font-weight: 500;
  color: var(--color-gray);
  display: flex;
  align-items: center;
  width: 57px;
  height: 15.1px;
}
.others,
.toolsSoftware {
  top: 255.1px;
  left: 18px;
  width: 84px;
}
.others {
  top: 395.7px;
  left: 16px;
  width: 34px;
}
.skillsToolsItem {
  position: absolute;
  top: 96.5px;
  left: 18px;
  max-height: 100%;
  width: 175px;
}
.skillsTools1 {
  position: absolute;
  top: 15px;
  left: 18px;
  font-size: var(--font-size-mini);
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  width: 97px;
  height: 23.1px;
}
.skillsTools {
  position: absolute;
  top: 364px;
  left: 12px;
  width: 211px;
  height: 476px;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-dimgray);
  font-family: var(--font-poppins);
}
