/* PAGE A4 */
/* ratio 21/29.7 */
.page {
    aspect-ratio: 21/29.7;
    display: flex;
    flex-direction: column;
    border: 1px solid darkgray;
    border-radius: 10px;
    height: 99vh;
    position: relative;
}